.tamanhoFolha{
    width: 595px;
    height: 842px;
    border: 1px solid rgb(85, 86, 189);
    margin: auto;
    position: relative;
}
.estrutura{
    font-family: Arial, 'Times New Roman';
}
.fotoPerfil{
    width: 130px;
    height: 130px;
    float: right;
    border-radius: 150px;
    border: 2px solid black;
    margin: 10px;
}
.nome{
    float: left;
    margin-top: 60px;
    margin-left: 30px;
    font-size: 26px;
}
.titulo1{
    position: absolute;
    margin-top: 120px;
    margin-left: 30px; 
    font-size: 8px;
    margin-bottom: 0;
}
.titulo2{
    position: absolute;
    margin-top: 270px;
    margin-left: 30px; 
    font-size: 8px;
    margin-bottom: 0;
}
.titulo3{
    position: absolute;
    margin-top: 365px;
    margin-left: 30px; 
    font-size: 8px;
    margin-bottom: 0;
}
.titulo4{
    position: absolute;
    margin-top: 470px;
    margin-left: 30px; 
    font-size: 8px;
    margin-bottom: 0;
}
.titulo5{
    position: absolute;
    margin-top: 635px;
    margin-left: 30px; 
    font-size: 8px;
    margin-bottom: 0;
}
.linhaHR{
    width: 540px;
    margin: 0;
    height: px;
    color: black;
    background: black;
}
.paragrafos{
    margin: 1;
    font-size: 12px;
}
  